<h1>Welcome to Tweddit</h1>

<hr class="hr2" />
<br />

<div class="center" id="login">
  <!-------  LOGIN FORM  --------->
  <form action="/login" method="get">
    <h2>Login</h2>
    <table class="center">
      <tr>
        <td>
          <label for="username"
            >Username <input type="text" name="username" id="username"
          /></label>
        </td>
      </tr>
      <tr>
        <td>
          <label for="password"
            >Password <input type="password" name="password"
          /></label>
        </td>
      </tr>
    </table>
    <div>
      <button type="submit" name="login" class="buttons">Login</button>
      <input type="reset" class="buttons" />
    </div>
  </form>
</div>

<br /><br />
<br />

<!-------  REGISTER FORM  --------->
<div class="center" id="register">
  <form action="/register" method="post">
    <h2>Register</h2>
    <table class="center">
      <tr>
        <td>
          <label for="username"
            >Username <input type="text" name="username" id="username"
          /></label>
        </td>
      </tr>
      <tr>
        <td>
          <label for="password"
            >Password <input type="password" name="password"
          /></label>
        </td>
      </tr>
    </table>
    <div>
      <button type="submit" name="register" class="buttons">Register</button>
      <input type="reset" class="buttons" />
    </div>
  </form>
</div>
